.menu {
    background-color: #ccc;
    padding: 10px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.menu:hover {
    text-decoration: none;
    background-color: black;
    color: #ffffff;
}

.menu-case {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

